<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.lhoracek.myapplication">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="cz.lhoracek.myapplication.DependencyInjectionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="cz.lhoracek.myapplication.example.activity.SecondActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="cz.lhoracek.myapplication.example.activity.FirstActivity" />
        <activity android:name="cz.lhoracek.myapplication.example.activity.ThirdActivity" />

        <service android:name="cz.lhoracek.myapplication.core.service.StickyService" />
        <service android:name="cz.lhoracek.myapplication.core.mocks.service.EmulatorStickyService" />
        <service
            android:name="cz.lhoracek.myapplication.core.service.ResultReceiverProcessService"
            android:process=":MyCustomProcess" />
        <service
            android:name="cz.lhoracek.myapplication.core.service.MessengerProcessService"
            android:process=":OtherCustomProcess" />
    </application>

</manifest>